@import '../source/null-style';
@import '../source/media-style';
@import '../source/fonts';
@import '../source/vars';

html {
    font-size: 16px;
}

.content {
    width: 100%;
    min-width: var(--video_min_width);
    min-height: 100%;
    background-color: #333;

    font-family: 'Poppins', sans-serif;
    color: #fff;

    .content-inner {
        max-width: var(--content_max_width);

        .content__title {
            display: flex;
            font-size: var(--title_and_mute_size);
            justify-content: center;

            .title__mute-symbol {
                display: block;
                width: var(--title_and_mute_size);
                height: var(--title_and_mute_size);
                margin-left: 2%;
                transition: .2s;

                background-image: url('../img/sound/mute.svg');
                background-size: cover;
            }

            .title__unmute-symbol {
                background-image: url('../img/sound/unmute.svg');
            }
        }

        .content__video {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 50px;

            .video_settings {
                border-radius: 1%;
            }

            .canvas_set {
                display: block;
            }

            .button_play {
                width: 200px;
                height: 20px;
                background-color: #fff;
                margin-top: 30px;
            }
        }
    }

    .content-inner_margin {
        margin: 0 auto;
    }

    .content-inner_padding {
        padding: calc(50px + 50*(100vw - 320px)/(1366 - 320)) 0;
    }
}