@import '../source/null-style';
@import '../source/vars';
@import '../source/templates';
@import '../source/media-style';

html {
    font-size: 16px;
}

.content {
    min-width: 320px;
    max-width: $max-width;
    height: 100vh;
    background-color: #eee;
    margin: 0 auto;

    font-family: "Georgia", sans-serif;

    .content-inner {
        width: 100%;

        // заголовок сайта
        .content__title {
            display: block;
            font-size: 2rem;
            text-align: center;
        }

        .content__title_padding-top {
            padding-top: calc(50px + 50*(100vw - 320px)/(1366 - 320));
        }

        .content__video {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 50px;

            // web-cam
            .video_set {
                @extend %video-canv-set;
            }
        }
    }
}