@import '../source/null-style';
@import '../source/vars';
@import '../source/media-style';

html {
    font-size: 16px;
}

.content {
    min-width: 320px;
    max-width: 1366px;
    min-height: 100vh;
    background-color: #eee;
    margin: 0 auto;

    .content-inner {
        width: 100%;
        padding: 0 10px 0;

        // заголовок сайта
        .content__title {
            display: block;
            font-size: 2rem;
            text-align: center;
        }

        .content__title_padding-top {
            padding-top: calc(50px + 50*(100vw - 320px)/(1366 - 320));
        }

        // web-cam
        .content__video {
            display: block;
            width: 100%;
            max-width: 700px;
            height: auto;
            outline: 1px solid #000;
        }

        .content__video_margin {
            margin: 20px auto 0;
        }
    }
}