@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@media (max-width: 1290px) {
  .content .content-inner .canvas_set {
    margin-top: calc(50px + 50*(100vw - 320px)/(1366 - 320)) !important;
  }
}

:root {
  --content_max_width: 1366px;
  --video_min_width: 640px;
}

html {
  font-size: 16px;
}

.content {
  width: 100%;
  min-width: var(--video_min_width);
  min-height: 100%;
  background-color: #333;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.content .content-inner {
  max-width: var(--content_max_width);
}

.content .content-inner .content__title {
  display: block;
  font-size: 2rem;
  text-align: center;
}

.content .content-inner .content__video {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.content .content-inner .content__video .video_settings {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border-radius: 1%;
}

.content .content-inner .content__video .canvas_set {
  display: block;
}

.content .content-inner_margin {
  margin: 0 auto;
}

.content .content-inner_padding {
  padding: calc(50px + 50*(100vw - 320px)/(1366 - 320)) 0;
}